{% extends 'templates/base.html' %}

{% block auth_user_content %}
    {% block back_link %}
    {% endblock %}
    {% if not posts %}
        {% block message %}{% endblock %}
    {% else %}
        <ul class="list-group list-group-light m-auto" style="width: 700px;">
            {% for post in posts %}
                  <li class="list-group-item d-flex justify-content-center align-items-center m-5 border rounded" style="">
                    <div class="container d-flex flex-row justify-content-between">
                        <div class="fw-bold"><a href="../../post/{{ post.pk }}" class="" style="text-decoration: none;">{{ post.title }}</a></div>
                       <div> {{ post.date_created.date }} </div>
                        <div>{{ post.price }}$</div>
                    </div>
                    {% block content %}
                    {% endblock %}
                  </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}