<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                {% block link_posts %}

                {% endblock %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reposts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Comments</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <div class="container m-auto">
    <div class="main-body mt-5">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="" style="height: 300px;">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                      {% block profile_photo %}
                      {% endblock %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3" style="height: 300px;">
                <div class="card-body mt-5">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% block username %}{% endblock %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       {% block email %}{% endblock %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Country</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {% block country %}{% endblock %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                        {% block customize_profile %}{% endblock %}
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="container card" style="height: 250px;">
        <h3 class="text-center p-3">About</h3>
        <hr>
        {% block about %}{% endblock %}
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>