{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registration_app/css/form-style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center rounded" style="width: 100%; height: 850px;">
    <h1>{% trans "Sign Up" %}</h1>
    <hr>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
       <ul class="wrapper">
           {% for field in form %}
                <li class="form-row">
                    <label>{{ field.label_tag }}</label>
                    <p>{{ field }}</p>
                    <p>{{ field.errors }}</p>
                </li>
           {% endfor %}
       </ul>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
       <hr>
       <center><button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button></center>
    </form>
    {% endblock %}
</div>
</body>
</html>