<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registration_app/css/form-style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 700px;">
    <form class="signup" method="post" action="../create_profile">
      {% csrf_token %}
       <ul class="wrapper">
           {% for field in form %}
                <li class="form-row">
                    <label>{{ field.label_tag }}</label>
                    <p>{{ field }}</p>
                    <p>{{ field.errors }}</p>
                </li>
           {% endfor %}
           <li class="text-center p-2">
               <button type="submit" class="btn btn-success btn-block" style="width: 250px; margin-top: -10px;">Create</button>
           </li>
       </ul>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>