.title {
    color: #333;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}


.title:hover {
    color: #007BFF;
    transform: translateY(-2px);
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007BFF;
    transition: width 0.3s ease-in-out;
}

.title:hover::before {
    width: 100%;
}

