{% extends 'templates/base.html' %}
{% load static %}
{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock %}

{% block auth_user_content %}
        <h3 class="text-center m-2"> Hello, you are signed as {{ request.user.username }}</h3>
        <hr>
        <div class="d-flex flex-row">
            <div class="container d-flex align-items-center align-content-between flex-column bg-light border border-top-0" style="width: 400px;">
                {% for category in categories %}
                    <div class="container text-center rounded p-2 m-2" id="cards" style="width: 200px;">
                        <a class="btn btn-primary m-2 p-2" style="width: 100%;" href="posts/category/{{ category.name }}">{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="container d-flex flex-column align-items-center bg-light border border-top-0" style="">
                {% for post in popular_posts %}
                    <div class="card m-2" style="width: 450px;">
                        <img class="card-img-top" src="{{ post.item_photo.url }}" width="350" height="350">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="posts/post/{{ post.pk }}" class="title">{{ post.title }}</a>
                            </h5>
                            <p class="card-text">
                                <a href="user_profile/{{ post.user.pk }}">{{ post.user }}</a>
                            </p>
                        </div>
                        <hr>
                        <div class="d-flex flex-row align-items-start justify-content-between p-1">
                            <a class="btn btn-light" href="posts/post/{{ post.id }}/create_comment/">Leave a Comment</a>
                            <form action="posts/post/{{ post.id }}/create_repost/" method="POST">{% csrf_token %}
                                <input type="submit" value="Make Repost" class="btn btn-light">
                            </form>
                            <a class="btn btn-light" href="posts/post/{{ post.pk }}/comments/">Comments</a>
                        </div>
                        <hr>
                       <div class="container d-flex flex-row align-items-start p-1">
                            <form action="posts/like_post/{{ post.id }}/" method="post">{% csrf_token %}
                                {% if request.user not in post.liked.all %}
                                    <button type="submit" class="btn btn-success p-2 m-1">{{ post.liked.all.count }} likes</button>
                                {% else %}
                                    <button type="submit" class="btn btn-danger p-2 m-1">{{ post.liked.all.count }} likes</button>
                                {% endif %}
                            </form>
                            <a class="btn btn-light p-2 m-1">{{ post.reposts.all.count }} Reposts</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="container d-flex align-items-center flex-column bg-light border border-top-0" style="width: 400px;">
                <div class="container text-center rounded p-2 m-2" style="width: 200px;">
                    <a class="btn btn-primary m-2 p-2" style="width: 100%;" href="{% url 'user_profile:my_profile' %}">My profile</a>
                </div>
               <div class="container text-center rounded p-2 m-2" style="width: 200px;">
                    <a class="btn btn-primary m-2 p-2" style="width: 100%;" href="posts/create_post">Create post</a>
                </div>
                <div class="container text-center rounded p-2 m-2" style="width: 200px;">
                    <a class="btn btn-primary m-2 p-2" style="width: 100%;" href="chat_rooms/my_chat_rooms/">Chats</a>
                </div>
                <div class="container  text-center rounded p-2 m-2" style="width: 200px;">
                    <a href="logout" class="btn btn-primary m-2 p-2" style="width: 100%;">Logout</a>
                </div>
            </div>
        </div>
{% endblock %}

{% block anonymous_user_content %}
    {% load socialaccount %}
    <style>
         .btn{
            transition: all 0.2s ease;
            cursor: pointer;
         }

        .btn:hover{
            box-shadow: 5px 6px 6px 2px #e9ecef;
            font-size: 20px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
            <a class="navbar-brand p-2 m-auto">RockStore.com</a>
    </nav>
        <br>
            <div class="d-flex align-items-center justify-content-center flex-column" style="width: 100%; height: 850px;">
                    <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-primary rounded m-2 p-2">Get started</a>
            </div>
{% endblock %}
