{% extends 'templates/base.html' %}

{% block auth_user_content %}
    <div class="container d-flex align-items-center justify-content-center mt-4 p-2 rounded" style="background-color: whitesmoke;">
        <form action="../create_post/" method="post" enctype="multipart/form-data" class="">{% csrf_token %}
            {{ form }}
            <div class="col">
                <center><button class="btn btn-success btn-rounded m-1" style="width: 300px;">Create</button></center>
            </div>
        </form>
    </div>
{% endblock %}
{% block anonymous_user_content %}
    <div class="container d-flex align-items-center justify-content-center mt-5">
        <a href="/" class="btn btn-danger btn-rounded">You aren't logged in.....</a>
    </div>
{% endblock %}