{% extends 'templates/base.html' %}

{% load widget_tweaks %}

{% block auth_user_content %}
    <form action="../../{{ post.id }}/create_comment/" method="post">{% csrf_token %}
        <div class="container d-flex flex-column align-items-center justify-content-center mt-5">
            {% for field in form %}
                <label>{{ field.label_tag }}</label>
                {% render_field field class+="form-control mt-3" %}
                <p>{{ field.errors }}</p>
           {% endfor %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-block" style="width: 250px; margin-top: 10px;">Leave comment</button>
        </div>
    </form>
{% endblock %}
