{% extends 'templates/base.html' %}

{% load widget_tweaks %}

{% block auth_user_content %}
    <div class="center d-flex flex-column align-items-center justify-content-center p-5 mt-5">
        <form method="post" class="card">
            {% csrf_token %}
            <h2 class="p-3 text-center">Delete Post</h2>
            <p class="p-3">Are you sure that you want to delete post <a href="../post/{{ post.pk }}" class="text-info" style="text-decoration: none; font-size: 20px;">"{{post.title}}"?</a></p>
            <p class="form-buttons p-3 text-center">
                <input type="submit" class="btn btn-danger" value="Delete">
                <a href="" class="btn btn-light">Cancel</a>
            </p>
        </form>
    </div>
{% endblock %}

