{% extends 'templates/comment_list.html' %}


{% block message %}
    <h2 class="m-5 text-center">You don't have any comments yet...</h2>
{% endblock %}

{% block back_link %}
    <a class="btn btn-dark m-3" href="{% url 'user_profile:my_profile' %}">
        Back
    </a>
{% endblock %}

{% block comment_title %}
    <a class="text-center" href="../post/{{ comment.post.pk }}">{{ comment.post.title }}</a>
{% endblock %}

{% block content %}
    <a class="btn btn-info p-1" href="../post/update_comment/{{ comment.id }}/">Edit</a>
    <a class="btn btn-danger p-1 mt-1" href="../post/delete_comment/{{ comment.id }}/">Delete</a>
{% endblock %}

