{% extends 'templates/post_list.html' %}
{% load static %}

{% block back_link %}
    <div>
        <a href="../../user_profile/my_profile/" class="btn btn-dark m-5">
            Back
        </a>
    </div>
{% endblock %}

{% block message %}
     You don't have any posts....
{% endblock %}

{% block post_title %}
    <a class="title" href="../post/{{ post.pk }}/">{{ post.title }}</a>
{% endblock %}

{% block content %}
    <a href="../update_post/{{ post.pk }}" class="btn btn-success">Update</a>
    <a href="../delete_post/{{ post.pk }}" class="btn btn-danger">Delete</a>
    <hr>
    <div class="d-flex flex-row align-items-start justify-content-between">
        <a class="btn btn-light" href="../post/{{ post.id }}/create_comment/">Leave a Comment</a>
        <form action="../../post/{{ post.id }}/create_repost/" method="POST">{% csrf_token %}
            <input type="submit" value="Make Repost" class="btn btn-light">
        </form>
        <a class="btn btn-light" href="../post/{{ post.id }}/comments/">Comments</a>
    </div>
{% endblock %}

