{% extends 'templates/post_list.html' %}

{% block back_link %}
    <div>
        <a href="../../user_profile/my_profile/" class="btn btn-dark m-5">
            Back
        </a>
    </div>
{% endblock %}

{% block message %}
    <div class="container m-auto">
         <h2 class="text-center">You don't have any posts....</h2>
    </div>
{% endblock %}


{% block content %}
    <a href="../update_post/{{ post.pk }}"><button class="" style="border: none;">Update</button></a>
    <a href="../delete_post/{{ post.pk }}"><button class="ms-1" style="border: none;">Delete</button></a>
{% endblock %}

