{% extends 'templates/post_list.html' %}
{% load static %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_title_animation.css' %}">
{% endblock %}

{% block back_link %}
    <a class="btn btn-dark m-5" href="{% url 'user_profile:my_profile' %}" style="position: fixed;">
        Back
    </a>
{% endblock %}

{% block message %}
    You don't have any reposts yet...
{% endblock %}

{% block top %}
    <div class="d-flex flex-row align-items-center justify-content-between p-1 m-1">
        The user <a class="title" href="../../user_profile/{{ post.user.id }}/">{{ post.user }}</a> made repost of <a class="title" href="../../posts/post/{{ post.post.pk }}/">{{ post.post.title }}</a>
    </div>
    <hr>
{% endblock %}

{% block image %}
    <img class="card-img-top rounded" src="{{ post.post.item_photo.url }}" width="350" height="350">
{% endblock %}


{% block post_title %}
    <a class="title" href="../post/{{ post.post.pk }}/">{{ post.post.title }}</a>
{% endblock %}

{% block post_owner %}
    <a class="" href="../../user_profile/{{ post.post.user.id }}/">
        {{ post.post.user }}
    </a>
{% endblock %}

{% block content %}
    <hr>
    <div class="d-flex flex-row align-items-center">
        <a class="btn btn-light" href="../post/{{ post.post.id }}/create_comment/">Leave a Comment</a>
        <a class="btn btn-light" href="../post/{{ post.post.id }}/comments/">Comments</a>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-center">
        <a class="btn btn-danger text-center" href="../delete_repost/{{ post.pk }}/" style="width: 300px;">Delete Repost</a>
    </div>
{% endblock %}
