{% extends 'templates/post_list.html' %}
{% load static %}

{% block message %}
    <h2 class="text-center mt-5">
        There aren't any posts with this category...
    </h2>
{% endblock %}

{% block post_title %}
    <a class="title" href="../../post/{{ post.pk }}">{{ post.title }}</a>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row align-items-start justify-content-between">
        <a class="btn btn-light" href="../../post/{{ post.id }}/create_comment/">Leave a Comment</a>
        <form action="../../post/{{ post.id }}/create_repost/" method="POST">{% csrf_token %}
            <input type="submit" value="Make Repost" class="btn btn-light">
        </form>
        <a class="btn btn-light" href="../../post/{{ post.id }}/comments/">Comments</a>
    </div>
    <hr>
    <a class="btn btn-danger" href="">25 Likes</a>
    <a class="btn btn-danger" href="">30 Reposts</a>
{% endblock %}



