{% extends 'templates/post_list.html' %}
{% load static %}

{% block back_link %}
    <a class="btn btn-dark m-3" href="/" style="position: fixed;">
        Back
    </a>
{% endblock %}

{% block message %}
    <h2 class="text-center mt-5">
        There aren't any posts with this category...
    </h2>
{% endblock %}

{% block post_title %}
    <a class="title" href="../../post/{{ post.pk }}">{{ post.title }}</a>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row align-items-start justify-content-between">
        <a class="btn btn-light" href="../../post/{{ post.id }}/create_comment/">Leave a Comment</a>
        <form action="../../post/{{ post.id }}/create_repost/" method="POST">{% csrf_token %}
            <input type="submit" value="Make Repost" class="btn btn-light">
        </form>
        <a class="btn btn-light" href="../../post/{{ post.pk }}/comments/">Comments</a>
    </div>
    <hr>
    <div class="container d-flex flex-row align-items-start">
        <form action="../../like_post/{{ post.id }}/" method="post">{% csrf_token %}
            {% if request.user not in post.liked.all %}
                <button type="submit" class="btn btn-success p-2 m-1">{{ post.liked.all.count }} likes</button>
            {% else %}
                <button type="submit" class="btn btn-danger p-2 m-1">{{ post.liked.all.count }} likes</button>
            {% endif %}
        </form>
        <a class="btn btn-light p-2 m-1" href="">30 Reposts</a>
    </div>
{% endblock %}



