{% extends 'templates/post_list.html' %}

{% block back_link %}
    <a class="btn btn-dark m-5" href="../../../user_profile/{{ user.id }}">Back</a>
{% endblock %}

{% block message %}<h2 class="text-center">This user doesn't have any posts yet....</h2>{% endblock %}

{% block content %}
    <div class="p-1"><a href="../../post/{{ post.id }}/comments/">Comments</a></div>
    <div class="p-1"><a>Likes</a></div>
    <form action="../../post/{{ post.id }}/create_repost/" method="POST">{% csrf_token %}
        <input type="submit" class="p-1" value="Make Repost">
    </form>
{% endblock %}


