{% extends 'templates/post_list.html' %}
{% load static %}

{% block back_link %}
    <a class="btn btn-dark m-5" href="">Back</a>
{% endblock %}

{% block message %}This user doesn't have any posts yet....{% endblock %}

{% block post_title %}
    <a href="../../post/{{ post.pk }}/" class="title">{{ post.title }}</a>
{% endblock %}

{% block content %}
    <hr>
    <div class="d-flex flex-row align-items-start justify-content-between">
        <a class="btn btn-light" href="../../post/{{ post.id }}/create_comment/">Leave a Comment</a>
        <form action="../../post/{{ post.id }}/create_repost/" method="POST">{% csrf_token %}
            <button type="submit" class="btn btn-light p-1" value="Make Repost">Make Repost</button>
        </form>
        <a class="btn btn-light" href="../../post/{{ post.id }}/comments/">Comments</a>
    </div>
    <hr>
    <div class="container d-flex flex-row align-items-start">
        <form action="../../like_post/{{ post.id }}/" method="POST" class="">{% csrf_token %}
            {% if request.user not in post.liked.all %}
                <button type="submit" class="btn btn-success p-2 m-1">{{ post.liked.all.count }} likes</button>
            {% else %}
                <button type="submit" class="btn btn-danger p-2 m-1">{{ post.liked.all.count }} likes</button>
            {% endif %}
        </form>
        <a class="btn btn-light p-2 m-1">100 Reposts</a>
    </div>
{% endblock %}


