<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat_app/css/chat_room.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <a class="btn btn-dark m-5 position-static" href="../../my_chat_rooms/">
      Back
    </a>
    <div class="container d-flex flex-column border rounded align-items-center">
        <div class="text-center p-4 d-flex align-items-center justify-content-center">
            <h3>Chat</h3>
        </div>
    <hr>
        <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl" style="width: 100%;">
            <div class="chat-messages space-y-3 border rounded p-3" id="chat-messages" style="width: 100%; height:350px;">
                {% for m in messages %}
                    {% if m.content %}
                        <b>{{ m.author.username }}</b>: {{ m.content }}<br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
            <form method="post" action="." class="d-flex">
                <input type="text" name="content" class="flex-1 mr-3 form-control" placeholder="Your message..." id="chat-message-input">
                <button
                    class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700"
                    id="chat-message-submit"
                >Submit</button>
            </form>
        </div>
    </div>

    {{ room.pk|json_script:"json-pk" }}
    {{ request.user.username|json_script:"json-username" }}

    <script src="{% static 'js/chat_room.js' %}">
    </script>
</body>
</html>