{% extends 'templates/base.html' %}
{% load static %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_title_animation.css' %}">
{% endblock %}

{% block auth_user_content %}
<a class="position-fixed btn btn-dark ms-3" href="/">
    Back
</a>

<div class="container d-flex flex-column mt-5 p-2">
    {% for chat in chats %}
            <div class="d-flex flex-column align-items-center border m-2" style="height: 150px;">
                {% if request.user == chat.creator %}
                    <h4 class="mt-2">
                        <a class="title" href="../room/{{ chat.pk }}/">{{ chat.member }}</a>
                    </h4>
                {% else %}
                    <h4 class="mt-1">
                        <a class="title" href="../room/{{ chat.pk }}/">{{ chat.creator }}</a>
                    </h4>
                {% endif %}
                <div>
                    <hr>
                    <a class="btn btn-danger btn-block" href="../delete_chat_room/{{ chat.pk }}/">
                        Delete
                    </a>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}





